/gradle/wrapper
/.gradle
/build/
*/build/
/local.properties
.idea/
.DS_Store
*.iml
captures/
.externalNativeBuild/
.cxx/
*.apk
*.aab
*.keystore
*.jks
.cxx
.fabric
node_modules/
app/.cxx/
.cache/
*.properties
!.github/workflows/
!gradle/wrapper/gradle-wrapper.jar
!gradle/wrapper/gradle-wrapper.properties